---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<p>
  This page includes selected research outputs, including conference papers, poster presentations, technical reports, white papers, and manuscripts in preparation.
</p>

<p>
  For a broader overview of my research direction and ongoing/past projects, please see the <a href="/research/">Research</a> page.<br>
  {% if site.author.googlescholar %}
  You can also find my publications on <a href="{{site.author.googlescholar}}" target="_blank">Google Scholar</a>.
  {% endif %}
</p>

<hr />

{% for post in site.publications reversed %}
  {% include publication-card.html %}
{% endfor %}